<div class="row">
  <div class="col-md-6 offset-md-3">
    <form [formGroup]="postForm" (ngSubmit)="submitPost()">
      <h1>Nouveau post</h1>

      <div class="form-group">
        <label for="title">Titre</label>
        <input type="text" class="form-control" formControlName="title" id="title">
      </div>

      <div class="form-group">
        <label for="content">Contenu</label>
        <textarea class="form-control" formControlName="content" id="content" rows="3"></textarea>
      </div>

      <button class="btn btn-success" [disabled]="!postForm.valid">Add post</button>

    </form>
  </div>
</div>